/* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .green1 {
    position: absolute;
    top: 5px;
    right: 2250px;
    background-color: rgb(21, 233, 74);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }
  .red1 {
    position: absolute;
    top: 5px;
    right: 1945px;
    background-color: rgb(233, 21, 21);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }
  .green2 {
    position: absolute;
    top: 5px;
    right: 1640px;
    background-color: rgb(21, 233, 74);
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
  }

